body{
    
    background-color: #F8F8F8 !important;
}
#profile_wrapper{
    text-align: center;
}

#profile_pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

}

ul{
	padding: 0;
    list-style-type: none;
}

.social-links{
    display: flex;
    padding: 2px;
}

/* .social-links ul, li{
	list-style-type:none;
	display: inline-block;
}
*/
.social img{
	width:30px;
	height: 30px;
} 